body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font: 200 10px/1.8 "Lato", sans-serif;
    color: rgb(124, 24, 24);
  }
  .bgimg-1 {
    background-image: url("/img/img.jpeg");
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
  }
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

.container {
    position: relative;
  }
  
  .text-block {
    position: absolute;
    bottom: 100px;
    right: 100px;
    opacity: 0.8;
    padding-left: 40px;
    padding-right: 40px;
  }